services:
  frontend:
    build:
      context: ./front
      dockerfile: Dockerfile.prod
    container_name: portfolio_front_prod
    ports:
      - "80:3000"
    environment:
      - NODE_ENV=production
    networks:
      - portfolio_net

networks:
  portfolio_net:
    driver: true
