services:
  frontend:
    build:
      context: ./front
      dockerfile: Dockerfile.prod
    container_name: portfolio_front_test
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=test
    restart: unless-stopped

