services:
  frontend:
    build:
      context: ./front
      dockerfile: Dockerfile.dev
    container_name: portfolio_front_dev
    ports:
      - "3000:3000"
    volumes:
      - ./front:/app
      - /app/node_modules
    environment:
      - NODE_ENV=development
      - CHOKIDAR_USEPOLLING=true
      - WATCHPACK_POLLING=true
